{% extends 'base_content.html.twig' %}

{% block title %}Административный раздел{% endblock %}

{% block content %}
    <div class="col-sm-12 p-2">
        <h1>Административный раздел</h1>
        <ol>
            <li>
                <a href="{{ path('app_admin_comments') }}">Управление комментариями</a>
            </li>
            <li>
                <a href="{{ path('app_admin_articles') }}">Управление статьями</a>
            </li>
        </ol>
    </div>
{% endblock %}
